---
import Layout from '../layouts/Layout.astro'
import CRUDUser from '../components/CRUDUser.astro'
import CRUDObservacion from '../components/CRUDObservacion.astro'
import UpdateObservacion from '../components/UpdateObservation.astro'
---

<Layout>
    <div class="flex justify-center gap-32">
        <CRUDObservacion />
        <UpdateObservacion />
    </div>
</Layout>
